# loops in python

In [1]:
print ('ds')
print ('ds')
print ('ds')
print ('ds')
print ('ds')

ds
ds
ds
ds
ds

In [2]:
i=1
while i<=5: #contion
   print('data science')
   i=i+1

data science
data science
data science
data science
data science

In [3]:
i=5
while i>=1: #contion
   print('data science:')
   i=i-1

data science:
data science:
data science:
data science:
data science:

In [4]:
i=1
while i<=1: #contion
   print('data science:',i)
   i=i+1

data science: 1

In [5]:
i=1
while i<=5: #contion
   print('data science:',i)
   i=i+1

data science: 1
data science: 2
data science: 3
data science: 4
data science: 5

In [6]:
i = 5          

while i>=1:    # condition
    print('data science :', i)
    i = i - 1  # decrement

data science : 5
data science : 4
data science : 3
data science : 2
data science : 1

In [7]:

while i<=5:
    print('data science') # when we mention end then new line will not create
    j = 1
    while j<=4:
        print('technology')
        j = j + 1
        
    i = i + 1
    print()

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [8]:
i = 1
while i<=5:
    print(' datascience', end = "")     # when we mention end then new line will not create
    j = 1
    while j<=4:
        print(' technology', end="")
        j = j + 1
        
    i = i + 1
    print()

 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology

In [9]:
i = 1

while i <= 2 :
    j = 0
    while  j <= 2 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2
0 2 4

i = 1
while i<=4:
    j = 0
    while j<=3:
        print(i*j,end = " ")
        j += 1
    print()
    i += 1

In [2]:
i = 10
while i<=4:
    j=1
    while j <=3:
        print(i*j,end = " ")
        j+=1

        print()
        i+=1
else:
    print('condition is not match')

condition is not match

# FOR LOOP

In [4]:
name = 'nit'
for i in name:
    print(i)

n
i
t

In [5]:
name1 = [1,3,5,'hello']
for i in name1:
    print(i)

1
3
5
hello

In [7]:
range(5)

range(0, 5)

In [11]:
for i in range(5):
    print(i)

0
1
2
3
4

In [16]:
for i in range(10,50,5):
    print(i)

10
15
20
25
30
35
40
45

In [17]:
for i in range(10,50,5):
    print(i,end=" ")

10 15 20 25 30 35 40 45

In [20]:
for i in range(1,31):

    if i%3==0:
        print(i)

3
6
9
12
15
18
21
24
27
30

# BREAK CONTINIOUS PASS

In [22]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [25]:
for i in range(1,11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [28]:
for i in range(1,11):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [29]:
for i in range(1,11):
    pass

In [32]:
x = int(input ('how many choclets you want ?'))
i=1
while i<=x:
    print('choclets:',i)
    i+=1

how many choclets you want ? 1

choclets: 1

In [33]:
x = int(input ('how many choclets you want ?'))
i=1
while i<=x:
    print('choclets:',i)
    i+=1

how many choclets you want ? 6

choclets: 1
choclets: 2
choclets: 3
choclets: 4
choclets: 5
choclets: 6

In [34]:
az = 5
x=int(input('how many choclets you want ?'))
i=1
while i<=x:
    print('choclet:',i)
    i+=1

how many choclets you want ? 4

choclet: 1
choclet: 2
choclet: 3
choclet: 4

In [36]:
az = 5
x=int(input('how many choclets you want ?'))
i=1
while i<=x:
    print('choclet:',i)
    i+=1

how many choclets you want ? 11

choclet: 1
choclet: 2
choclet: 3
choclet: 4
choclet: 5
choclet: 6
choclet: 7
choclet: 8
choclet: 9
choclet: 10
choclet: 11

In [38]:
available_choclet = 5 

x = int(input('How many choclets user want:?'))

i = 1
while i<=x:
    
    if i>available_choclet: 
        break 
    print('choclet')
    i += 1 
print('bye for now')

How many choclets user want:? 15

choclet
choclet
choclet
choclet
choclet
bye for now

In [40]:
for i in range(1,51):
    
    if i%5 == 0:
    
        print(i)
print('end')

5
10
15
20
25
30
35
40
45
50
end

In [41]:
for i in range(1,51):
    
    if i%9 == 0:
    
        print(i)
print('end')

9
18
27
36
45
end

In [45]:
for i in range(1,51):
    
    if i%5 == 0:
     continue
    print(i)
print('end')

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49
end

In [46]:
for i in range(1,51):
    
    if i%8 == 0:
     continue
    print(i)
print('end')

1
2
3
4
5
6
7
9
10
11
12
13
14
15
17
18
19
20
21
22
23
25
26
27
28
29
30
31
33
34
35
36
37
38
39
41
42
43
44
45
46
47
49
50
end

In [47]:
for i in range(1,51): 
    
    if i%3 == 0 or i%5 == 0:
        
        continue
    print(i)

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49

In [48]:
nums = [12,15,18,21,26, 30,40]

for num in nums:
    if num % 5 == 0:
        print(num)

15
30
40

In [49]:
nums = [12,15,18,21,26, 30,40]

for num in nums:
    if num % 3 == 0:
        print(num)

12
15
18
21
30

In [50]:
nums = [12,18,21,26]

for num in nums:
    if num % 5 == 0:
        print(num)
        break

In [51]:
nums = [12,18,21,26]

for num in nums:
    if num % 3 == 0:
        print(num)
        break

12

In [ ]:
nums = [12,18,21,26]

for num in nums:
    if num % 5 == 0:
        print(num)
        break

In [52]:
nums = [12,18,21,26]

for num in nums:
    if num % 9 == 0:
        print(num)
        break

18

In [53]:

for num in nums:
    if num % 5 == 0:
        print(num)
        #break

else:
    print('number not found')

number not found

In [54]:
nums = [13,15,16,12,19]
for num in nums:
    if num % 5 == 0:
        print(num)
        #break

else:
    print('number not found')

15
number not found

In [56]:
nums = [13,15,16,12,19]
for num in nums:
    if num % 2 == 0:
        print(num)
        break

else:
    print('number not found')

16

In [58]:
nums = [13,15,16,12,19]
for num in nums:
    if num % 2 == 0:
        print(num)
        #break

else:
    print('number not found')

16
12
number not found

In [59]:
nums = [13,15,16,12,19]
for num in nums:
    if num % 10 == 0:
        print(num)
        #break

else:
    print('number not found')

number not found

In [60]:
nums = [13,15,16,12,19]
for num in nums:
    if num % 3 == 0:
        print(num)
        #break

else:
    print('number not found')

15
12
number not found

In [61]:
nums = [13,15,16,12,19]
for num in nums:
    if num % 3 == 0:
        print(num)
        break

else:
    print('number not found')

15